{% extends 'base_templates/base.html' %}

{% load i18n %}
{% load allauth %}
{% load account %}

{% block 'title' %}Redefinição de Senha{% endblock 'title' %}

{% block 'body' %}
    <div class="row justify-content-center m-5">
        <div class="col col-sm-10 col-md-8 col-lg-6">
            <h1 class="text-center ">Redefinição de Senha</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="mt-3">
                Enviamos um email para você. Se você não recebeu, verifique sua pasta de Spam. Caso contrário, entre em contato conosco se não recebê-lo em alguns minutos.
            </p>
            <div class="text-center my-4">
                <a href="{% url 'account_login' %}" class="btn btn-danger btn-lg ">Voltar</a>
            </div>
{% endblock 'body' %}
