{% extends 'base_templates/base.html' %}
{% load i18n %}
{% load allauth %}

{% block 'title' %}Verifique seu Email{% endblock 'title' %}


{% block 'body' %}
    <div class="row justify-content-center ">
        <div class="rol col-sm-10 col-md-8 col-lg-6">
            <div class="text-center m-5">
                <h3>Verifique seu Email</h3>
                <p>
                    Enviamos um email para você para verificação. Siga o link fornecido para finalizar o processo de inscrição. Se você não vir o email de verificação na sua caixa de entrada principal, verifique sua pasta de spam. Entre em contato conosco se você não receber o email de verificação dentro de alguns minutos.
                </p>
        
                <a href="{% url 'account_login' %}" class="btn btn-danger btn-lg text-bg-light ">Voltar</a>
            </div>
        </div>
    </div>
{% endblock 'body' %}
